node_modules
time_log.txt

# Files and directories created by pub
.packages
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

.idea/

client/test/
client/lib/src/todo_list/
